# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
app/ .venv/

# Environment files and secrets
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfplan
crash.log
override.tf
override.tf.json

# Docker / build outputs
dist/
build/
coverage/

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/
environment/dev/local.auto.tfvars
.venv-security/
